/*************************************
** Author: Kasun C Fernando (kasuncfdo)
** Website: http://kasuncfernando.tk
** Email: chanukaf7@gmail.com
**************************************/

/*Primary Color:rgb(15,108,107)*/
/*Secondary Color:rgb(50,50,50)*/
/*Grey:rgb(240,240,240)*/
/*Green:rgb(163,169,72)*/
/* wrapper-width:700px */



/***************
*General Styles
****************/

.primary-color{
	color:rgb(15,108,107) !important;
}

strong{
	font-weight: bold;
}

html,body{
	height: 100%
}

body{
	font-family: 'Oxygen',sans-serif;
	min-height: 100%;
}


/***************
*Wrappers
****************/

.wrapper{
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}

.header-wrapper,.footer-wrapper,.contents-wrapper{
	margin: 0 auto;
	max-width: 800px;
/*	max-width: 800px;  */
}

.contents-wrapper{
	margin-top: 3rem;
	margin-bottom: 2rem;
	flex:1;
	line-height: 1.5;
	font-size: 16px;
}

.contents-wrapper .content{
	padding-left: 3rem;
	padding-right: 3rem;
}



/***************
*Header Styles
****************/

nav{
	background-color:rgb(10, 11, 59);
}

/* Navbar */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: rgba(8, 8, 8, 0.2);
}

.navbar-custom{
	background-color: rgb(10, 11, 59);
	border: 0;
	margin-bottom: 0;
}

.navbar-nav > li:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu.multi-level {
  display: none;
}

.navbar-inverse .navbar-nav > li > a{
	color: rgba(255,255,255,0.9);
	line-height: 1.1;
/*  line-height: 2.2;  */
}

.navbar-nav > li{
	margin:0  10px;
}

.navbar-inverse .navbar-toggle{
	border:0;
}

.top-margin-50px {
    margin-top: 50px;
}
.bottom-margin-50px {
    margin-bottom: 50px;
}

nav .nav-wrapper{
	text-align: center;
}
.nav-custom{
	display: inline-block;
}

.nav-custom > li{
	padding: 0 1rem;
}

nav ul li{
	// margin: 0 1em;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color: rgb(50,50,50);
}

.header-container{
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
	margin: 0.4rem 0;
}

#dropdown1{
	// overflow: hidden;
}

.logo-name{
	display: flex;
	align-items:center;
	margin-left: 2rem;
}

.logo-name .name h5{
	// font-weight: bold;
	font-size: 2.3rem;
	text-decoration: none;
	color: rgb(50,50,50);
}

.logo-name .name a:hover{
	text-decoration: none;
}

.logo-name .name{
	margin-left: 1rem;
}

.logo-name .name h5:nth-child(1){
	margin-bottom: 0.3rem;
}

.logo-name .name h5:nth-child(2){
	margin-top: 0.1rem;
}

.logo-name .logo img{
	width: 100px;
}

.header-links {			
    margin-right: 0rem;
    margin-bottom: 3.4rem;
}

.header-links a {
	cursor:pointer;
	margin:0 0.75rem;
	color: inherit;
	
}

.header-links a:hover,.header-links a:focus{
	color: inherit;
	opacity: 0.9;
}

/***************
*Slick Custom Styles
****************/

.slick-arrow{
	font-family: 'FontAwesome';
	background-color: rgb(240,240,240);
	color: rgb(10, 11, 59);
	border: 4px solid rgb(10, 11, 59);
	padding:0.5rem 1rem;
	position: absolute;
    z-index: 999;
	font-size: 0;
}

.slick-arrow:hover,.slick-arrow:focus,.slick-arrow:active{
	outline: 0;
}

.slick-prev{
    width: 50px;
    height: 50px;
    left: 1.5rem;
    top: 42%;
    border-radius: 100%;
}

.slick-prev:after{
	content: "\f053";
	font-size: 16px;
}

.slick-next{	
    width: 50px;
    height: 50px;
    right: 1.5rem;
    top: 42%;
    border-radius: 100%;
}

.slick-next:after{
	content: "\f054";
	font-size: 16px;
}


/*************************
*Home page widgets Styles
**************************/


.widgets-wrapper{
	background-color:rgb(10, 11, 59);
	padding:3rem 3rem 8rem 3rem;
}

.widgets-container{
	max-width: 800px;
    margin: 0 auto;
}

.announcement-content,.news-content{
	color: white;
}

.events-content{
	color:rgb(163,169,72);
}

.announcement-content ul,.news-content ul,.events-content ul{
	padding: 0;
    list-style: none;
    margin-top: 2rem;
}

.announcement-content ul li,.news-content ul li{
	display: block;
	background-color: white;
	color: rgb(50,50,50);
	padding: 1rem;
	margin:1rem 0;
}

.events-content ul li{
	margin:1rem 0;
	color: white;
	margin-bottom: 3rem;
}

#announcement-list-pagination,#news-list-pagination,#events-list-pagination{
	text-align:right;
	margin-top: 1.5rem;
}

#announcement-list-pagination span,#news-list-pagination span,#events-list-pagination span{
	border: 1px solid white;
    padding: 0.5rem;
    color: white;
}

#events-list-pagination span{
	border-color:rgb(163,169,72);
	color:rgb(163,169,72);
}

#announcement-list-previous.disabled,#announcement-list-next.disabled,#news-list-previous.disabled,#news-list-next.disabled,#events-list-previous.disabled,#events-list-next.disabled{
	opacity: 0.5;
	cursor:not-allowed;
	// display: none;
}

#home footer{
	margin-top: 0;
}

#news-list .more{
	background-color: #0F6C6B;
    margin-left: 0.5rem;
    color: white;
    padding: 0rem 0.8rem;
}

.event-container{
	display: flex;
	align-items:center;
}

.event-container .date{
	min-width: 90px;
	border-right: 2px solid rgb(163,169,72);
	// text-align: center;
}

.event-container .date>span{
	display: inline-block;
	border: 2px solid rgb(163,169,72);
    border-radius: 100%;
    padding: 1rem 2.5rem;
    text-align: center;
    width: 75px;
    height: 75px;
}

.event-container .date>span .month{
	color: rgb(163,169,72);
}

.event-container .date>span .day{
	font-size: 1.5em;
}

.event-container .event-text{
	margin-left: 1rem;
}

#events{
	padding: 0 2rem
}

#announcements{
	padding: 0;
	padding-right: 2rem;
}

#news{
	padding: 0;
	padding-left: 2rem;
}


/****************
 * Directors Msg
**************** */
.dir-msg{
	display: flex;
	margin-top: 2rem;
}

.dir-text{
	padding-left: 3rem;
}

.dir-detail{
	text-align: center;
	display: inline-block;
	line-height: 1.6;
}

.dir-detail >img{
	border-radius: 100%;
    border: 5px solid #F0F0F0;
    margin-bottom: 1rem;
}

.dir-detail>div:nth-child(2){
	font-weight: bold;
}

.dir-detail>div:nth-child(3),.dir-detail>div:nth-child(4){
	font-size: 0.85em;
}


/****************
 * Faculty Style
 ***************/

.faculty-list .list-group .list-group-item >h3{
	margin-bottom: 2rem;
}


.list-group .list-group-item >.row>div:first-child{
	overflow: hidden;
}

.faculty-list .list-group .list-group-item{
	padding: 2rem;
}

.career .list-group .list-group-item,
.visiting-faculty .list-group .list-group-item,.staff-members .list-group .list-group-item{
	padding: 2rem;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.carousel-items{
	overflow: hidden;
	border: 3px solid rgb(10, 11, 59);
	border-bottom: 0;
	border-top: 0;
}

/****************
 *Gallery Style
 ***************/


.gallery-design {
	text-align: center;
	/*padding: 1em 1em 2em 1em;*/
	/*background-color: rgba(220, 220, 220, 0.5);*/
}
.gallery-design .grid {
	margin-left: 4.3em;
	margin-top: 40px;
}

.gallery-design .title {
	margin-bottom: 3em;
}

.gallery-design .title h1 {
	display: inline-block;
	font-size: 2em;
	font-weight: lighter;
	margin-bottom: 0;
	/*background-color: rgb(15,108,107);*/
	border: 0;
	color: rgb(10, 11, 59);
	padding: 10px 30px;
}
.gallery-design .title h1.title-design {
	background-color: #ef4c3c;
}
.gallery-design .iso-filter-container {
	display: block;
	text-align: center;
}
.gallery-design .iso-filter-container .iso-filter-buttons {
	display: inline-flex;
}

.gallery-design .iso-filter-container .iso-filter-buttons .iso-filter {
	color: rgba(13, 36, 54, 0.84);
	font-size: 1em;
	cursor: pointer;
	display: inline-block;
	padding: 20px 35px;
	margin: 0;
	border: 1px solid rgba(13, 36, 54, 0.84);
	border-right: 0;
	transition: 0.3s;
}
.gallery-design .iso-filter-container .iso-filter-buttons .iso-filter:last-child {
	border-right: 1px solid rgba(13, 36, 54, 0.84);
}
.gallery-design .iso-filter-container .iso-filter-buttons .iso-filter.active {
	background-color: rgba(13, 36, 54, 0.84);
	color: white;

}
.gallery-design .grid-sizer,
.gallery-design .grid-item {
	width: 25%;
}
.gallery-design .grid:after {
	content: '';
	display: block;
	clear: both;
}
.gallery-design .gutter-sizer {
	width: 5px;
}
.gallery-design .grid-item {
	text-decoration: none;
	float: left;
}
.gallery-design .grid-item:hover, .gallery-design .grid-item:focus {
	text-decoration: none;
	outline: 0;
}
.gallery-design .grid-item .desc {
	position: absolute;
	overflow: hidden;
	color: white;
	height: 100%;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
}
.gallery-design .grid-item .desc .desc-title {
	align-items: flex-end;
	display: flex;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: hidden;
	transition: all 0.3s;
}
.gallery-design .grid-item .desc .desc-title:hover {
	cursor: zoom-in;
	background-color: rgba(0, 0, 0, 0.25);

}
.gallery-design .grid-item .desc .desc-title:hover span {
	transform: translateY(0);
}
.gallery-design .grid-item .desc .desc-title span {
	transform: translateY(120%);
	height: 30px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background-color: rgb(10, 11, 59);;
	font-size: 1em;
	line-height: 1.8em;
	transition: transform 0.3s;
}
.gallery-design .grid-item img {
	box-sizing: border-box;
	padding: 0.5em;
	display: block;
	width: 100%;
	cursor: zoom-in;
}


#gallery .contents-wrapper{
    margin-top: 1em;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	color:rgba(51, 51, 51, 0.5);
	border-radius: 0;
}

.alert-warning{
	background-color: white;
	border: 0;
	border-radius: 1;
}

/****************
 *Faculty Profile
 ***************/

.content-faculty{
	margin-top: 2rem;
}

.pic-meta{
	text-align: center;
	margin-bottom: 3rem;
}
.pic-meta .pic{
	width: 240px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.pic-meta .meta{
	text-align: center;
	margin-top: 1rem;
}


/***************
*Footer Styles
****************/


footer{
// background-image: url("../img/footer.jpg");
	background-color: #F0F0F0;
	background-size: cover;
	background-position: top center;
	border-top: 4px solid rgb(50,50,50);
	display: flex;
	align-items: center;
	margin-top: 5rem;
}

.footer-wrapper{
	padding: 6rem 1rem 2rem 1rem;;
	position: relative;
}

.seperator:after{
	content: "|";
	font-style: normal;
}

footer .row{
	font-size: 1.5rem;
}

footer .address{

}


.links a{
	color:rgba(0, 0, 0, 0.87);
}

.links a:hover{
	color:rgba(0, 0, 0, 1);
}

.links>div{
	margin-bottom: 1rem
}


.footer-social {
	font-size: 2rem;
}


.footer-social a{
	color: rgb(50,50,50);
	margin:0 0.25rem;
	opacity: 0.85;
}
.footer-social a:hover{
	opacity: 1;
}

.footer-wrapper>.logo {
	position: absolute;
	top: -4.8rem;
	left: 43%;
	background-color: #F0F0F0;
	padding: 0rem;
	border-radius: 100%;
	border: 4px solid rgb(50,50,50);
}

.footer-wrapper>.logo img{
	width: 80px;
}


/****************
 *Media Queries
 ***************/

@media (max-width: 599px){
	.gallery-design .grid-sizer,
	.gallery-design .grid-item {
		width: 50%;
	}
}

@media (max-width: 767px){
	footer .row >div{
		margin-bottom: 1.5em;
		text-align: center;
	}
	.widgets-wrapper .widgets-title{
		text-align: center;
	}

	#events{
		text-align: center;
	}
	#events .events-content{
		display: inline-block;
	}

	.widgets-container >div{
		margin-bottom: 4rem;
	}

	.header-links{
		display: none;
	}

	.list-group .list-group-item >.row>div:last-child{
		margin-top: 1rem;
	}
}

@media (min-width: 600px){
	.gallery-design .grid-sizer,
	.gallery-design .grid-item {
		width: 33%;
	}
}


@media (max-width: 800px){
	#gallery .contents-wrapper{
		margin: 0;
		width: 100%;
	}
}

@media (min-width: 768px){
	.navbar-collapse.collapse {
		display: flex !important;
		justify-content:center;
	}
}

@media (min-width: 800px){
	#gallery .contents-wrapper{
		width: 800px;
		max-width: 800px;
	}
}
// Edited

@media print {
   a[href]:after {
        display: none;
	visibility: hidden;
   }
}
// End
@media (min-width: 1000px){
	#gallery .contents-wrapper{
		width: 1000px;
		max-width: 1000px;
	}

	.gallery-design .grid {
		margin-left: 0;
		margin-top: 40px;
	}
	.gallery-design .grid-sizer,
	.gallery-design .grid-item {
		width: 25%;
	}
}

// Events 
body{margin-top:20px;}
.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

// Get In Touch
body{
    color: #6F8BA4;
    margin-top:20px;}
.section {
    padding: 100px 0;
    position: relative;
}

.gray-bg {
    background-color: #f5f5f5;
}
/* Contact Us
---------------------*/
.contact-name {
  margin-bottom: 30px;
}
.contact-name h5 {
  font-size: 22px;
  color: #20247b;
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-name p {
  font-size: 18px;
  margin: 0;
}

.social-share a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}
.social-share .dribbble {
  box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
  background-color: #ea4c89;
}
.social-share .behance {
  box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
  background-color: #0067ff;
}
.social-share .linkedin {
  box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
  background-color: #0177ac;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #20247b;
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
}
.contact-form .form-control:focus {
  border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
  border-bottom: 1px solid #ff0000;
}
.contact-form .send {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contact-form .send {
    margin-bottom: 20px;
  }
}

.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
.section-title {
    padding-bottom: 45px;
}
.contact-form .send {
    margin-top: 20px;
}
.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: #20247b;
    background: none;
    border: none;
}
.px-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: transparent;
    border: 1px solid rgba(252, 83, 86, 0.6);
    border-right: 1px solid transparent;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    width: 60px;
    height: 60px;
}
.px-btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
}
.px-btn .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

// Events 

/*-------------------------------------------------*/
/* =  5.HOME PAGE: EVENT
/*-------------------------------------------------*/
.ho-ex-title{
	margin-bottom: 35px;
}
.ho-ex-title h4{
	padding-left: 15px;
	font-size: 26px;
}
.ho-ex-title h4:before{
	position: absolute;
	content: "";
	width: 4px;
	height: 20px;
	margin-top: 3px;
	background: #03294f;
	top: 2px;
	left: 15px;
}
.ho-event{
}
.ho-event ul{
}
.ho-event ul li{
	padding: 15px 0px;
	position: relative;
	overflow: hidden;
}
.ho-ev-img{
	border-radius: 3px;
	display: inline-block;
	float: left;
	color: #fff;
	text-align: center;
	padding: 0px;
	margin-right: 20px;
	text-transform: uppercase;
	width: 20%;
}
.ho-ev-img img{
	width:100%;
}
.ho-ev-date{
	border-radius: 3px;
	display: inline-block;
	float: left;
	color: #fff;
	text-align: center;
	padding: 14px 0;
	margin-right: 20px;
	text-transform: uppercase;
	width: 20%;
	background: #0A0B3B;
}
.ho-ev-date span:first-child{
	display: block;
	font-size: 25px;
	font-weight: 500;
	margin-top: 0px;
	line-height: 25px;
	color: #fff;
}
.ho-ev-date span:last-child{
	font-size: 12px;
	color: #fff;
}
.ho-ev-link{
	float: left;
	width: 90%;
}
.ho-ev-link a{
}
.ho-ev-link a h4{
	color: #112842;
	padding-bottom: 5px;
	margin-bottom: 3px;
	font-size: 19px;
	border-bottom: 0px;
	text-overflow: ellipsis;
	white-space: pre;
	overflow: hidden;
	   letter-spacing: 0px; 
}
.ho-ev-link p{
	color: #203245;
	font-size: 17px;
	margin-bottom: 0px;
	text-align: justify;
}
.ho-ev-link span{
	color: #959595;
	font-size: 12px;
	font-weight: 500;
}
.ho-ev-link-full{
	width:100%;
}

//

body{margin-top:10px;}
.blog-listing {
    padding-top: 10px;
    padding-bottom: 10px;
}
.gray-bg {
    background-color: #f5f5f5;
}
/* Blog 
---------------------*/
.blog-grid {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 3px;
  margin-bottom: 3px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #0a0b3b;
  color: #ffffff;
  padding: 8px 15px;
  left: 10px;
  top: 17px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #20247b;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}


/* Blog Sidebar
-------------------*/
.blog-aside .widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.blog-aside .widget-body {
  padding: 15px;
}
.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fc5356;
  margin: 0;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #20247b;
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #20247b;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #20247b;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #20247b;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #fc5356;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #fc5356;
  border-bottom: 1px solid #fc5356;
}
.article .article-title h2 {
  color: #20247b;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #fc5356;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #20247b;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #fc5356;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #20247b;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #20247b;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}


