/*************************************
** Author: Kasun C Fernando (kasuncfdo)
** Website: http://kasuncfernando.tk
** Email: chanukaf7@gmail.com
**************************************/

/*Primary Color:rgb(15,108,107)*/
/*Secondary Color:rgb(50,50,50)*/
/*Grey:rgb(240,240,240)*/
/*Green:rgb(163,169,72)*/
/* wrapper-width:700px */

/***************
*General Styles
****************/
@font-face {
  font-family: "Goudy Old Style";
  font-style: normal;
  font-weight: normal;
  src: local("Goudy Old Style"), url("../fonts/GOUDOS.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

.primary-color {
  color: rgb(255 255 255) !important;
}

strong {
  font-weight: bold;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
  min-height: 100%;
}

/***************
*Wrappers
****************/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-wrapper,
.contents-wrapper {
  margin: 0 auto;
  max-width: 800px;
  /*	max-width: 800px;  */
}

.contents-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
  flex: 1;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
}

.contents-wrapper .content {
  padding-left: 3rem;
  padding-right: 3rem;
}

/***************
*Header Styles
****************/

nav {
  background-color: rgb(10, 11, 59);
}

/* Navbar */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(8, 8, 8, 0.2);
}

.navbar-custom {
  background-color: rgb(10, 11, 59);
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > li:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu.multi-level {
  display: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.1;
  /*  line-height: 2.2;  */
}

.navbar-nav > li {
  margin: 0 10px;
}

.navbar-inverse .navbar-toggle {
  border: 0;
}

.top-margin-50px {
  margin-top: 50px;
}
.bottom-margin-50px {
  margin-bottom: 50px;
}

nav .nav-wrapper {
  text-align: center;
}
.nav-custom {
  display: inline-block;
}

.nav-custom > li {
  padding: 0 1rem;
}

nav ul li {
  // margin: 0 1em;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgb(50, 50, 50);
}

#dropdown1 {
  // overflow: hidden;
}

/***************
*Slick Custom Styles
****************/

.slick-arrow {
  font-family: "FontAwesome";
  background-color: rgb(240, 240, 240);
  color: rgb(10, 11, 59);
  border: 4px solid rgb(10, 11, 59);
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 999;
  font-size: 0;
}

.slick-arrow:hover,
.slick-arrow:focus,
.slick-arrow:active {
  outline: 0;
}

.slick-prev {
  width: 50px;
  height: 50px;
  left: 1.5rem;
  top: 42%;
  border-radius: 100%;
}

.slick-prev:after {
  content: "\f053";
  font-size: 16px;
}

.slick-next {
  width: 50px;
  height: 50px;
  right: 1.5rem;
  top: 42%;
  border-radius: 100%;
}

.slick-next:after {
  content: "\f054";
  font-size: 16px;
}

/*************************
*Home page widgets Styles
**************************/

.widgets-wrapper {
  background-color: rgb(10, 11, 59);
  padding: 3rem 3rem 8rem 3rem;
}

.widgets-container {
  max-width: 800px;
  margin: 0 auto;
}

.announcement-content,
.news-content {
  color: white;
}

.events-content {
  color: rgb(163, 169, 72);
}

.announcement-content ul,
.news-content ul,
.events-content ul {
  padding: 0;
  list-style: none;
  margin-top: 2rem;
}

@media (max-width: 480px) {
  .announcement-content ul li,
  .news-content ul li {
    border-radius: 0.5rem;
  }
}

.news-content ul li {
  display: block;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: -1rem 0;
  border-radius: 0.5rem;
}

.announcement-content ul li {
  display: block;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.events-content ul li {
  margin: 1rem 0;
  color: white;
  margin-bottom: 3rem;
}

#announcement-list-pagination,
#news-list-pagination,
#events-list-pagination {
  text-align: right;
  margin-top: 1.5rem;
}

#announcement-list-pagination span,
#news-list-pagination span,
#events-list-pagination span {
  border: 1px solid white;
  padding: 0.5rem;
  color: white;
}

#events-list-pagination span {
  border-color: rgb(163, 169, 72);
  color: rgb(163, 169, 72);
}

#announcement-list-previous.disabled,
#announcement-list-next.disabled,
#news-list-previous.disabled,
#news-list-next.disabled,
#events-list-previous.disabled,
#events-list-next.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  // display: none;
}

#home footer {
  margin-top: 0;
}

#news-list .more {
  background-color: #0f6c6b;
  margin-left: 0.5rem;
  color: white;
  padding: 0rem 0.8rem;
}

.event-container {
  display: flex;
  align-items: center;
}

.event-container .date {
  min-width: 90px;
  border-right: 2px solid rgb(163, 169, 72);
  // text-align: center;
}

.event-container .date > span {
  display: inline-block;
  border: 2px solid rgb(163, 169, 72);
  border-radius: 100%;
  padding: 1rem 2.5rem;
  text-align: center;
  width: 75px;
  height: 75px;
}

.event-container .date > span .month {
  color: rgb(163, 169, 72);
}

.event-container .date > span .day {
  font-size: 1.5em;
}

.event-container .event-text {
  margin-left: 1rem;
}

#events {
  padding: 0 2rem;
}

#announcements {
  padding: 0;
  padding-right: 2rem;
}

#news {
  padding: 0;
  padding-left: 2rem;
}

/****************
 * Directors Msg
**************** */
.dir-msg {
  display: flex;
  margin-top: 2rem;
}

.dir-text {
  padding-left: 3rem;
}

.dir-detail {
  text-align: center;
  display: inline-block;
  line-height: 1.6;
}

.dir-detail > img {
  border-radius: 10%;
  border: 5px solid #f0f0f0;
  margin-bottom: 1rem;
  max-width: inherit;
}

.dir-detail > div:nth-child(2) {
  font-weight: bold;
}

.dir-detail > div:nth-child(3),
.dir-detail > div:nth-child(4) {
  font-size: 0.85em;
}

/****************
 * Faculty Style
 ***************/

.faculty-list .list-group .list-group-item > h3 {
  margin-bottom: 2rem;
}

.list-group .list-group-item > .row > div:first-child {
  overflow: hidden;
}

.faculty-list .list-group .list-group-item {
  padding: 2rem;
}

.career .list-group .list-group-item,
.visiting-faculty .list-group .list-group-item,
.staff-members .list-group .list-group-item {
  padding: 2rem;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.carousel-items {
  overflow: hidden;
  border: 3px solid rgb(10, 11, 59);
  border-bottom: 0;
  border-top: 0;
}

/****************
 *Gallery Style
 ***************/

.gallery-design {
  text-align: center;
  /*padding: 1em 1em 2em 1em;*/
  /*background-color: rgba(220, 220, 220, 0.5);*/
}
.gallery-design .grid {
  margin-left: 4.3em;
  margin-top: 40px;
}

.gallery-design .title {
  margin-bottom: 3em;
}

.gallery-design .title h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 0;
  /*background-color: rgb(15,108,107);*/
  border: 0;
  color: rgb(10, 11, 59);
  padding: 10px 30px;
}
.gallery-design .title h1.title-design {
  background-color: #ef4c3c;
}
.gallery-design .iso-filter-container {
  display: block;
  text-align: center;
}
.gallery-design .iso-filter-container .iso-filter-buttons {
  display: inline-flex;
}

.gallery-design .iso-filter-container .iso-filter-buttons .iso-filter {
  color: rgba(13, 36, 54, 0.84);
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  padding: 20px 35px;
  margin: 0;
  border: 1px solid rgba(13, 36, 54, 0.84);
  border-right: 0;
  transition: 0.3s;
}
.gallery-design
  .iso-filter-container
  .iso-filter-buttons
  .iso-filter:last-child {
  border-right: 1px solid rgba(13, 36, 54, 0.84);
}
.gallery-design .iso-filter-container .iso-filter-buttons .iso-filter.active {
  background-color: rgba(13, 36, 54, 0.84);
  color: white;
}
.gallery-design .grid-sizer,
.gallery-design .grid-item {
  width: 25%;
}
.gallery-design .grid:after {
  content: "";
  display: block;
  clear: both;
}
.gallery-design .gutter-sizer {
  width: 5px;
}
.gallery-design .grid-item {
  text-decoration: none;
  float: left;
}
.gallery-design .grid-item:hover,
.gallery-design .grid-item:focus {
  text-decoration: none;
  outline: 0;
}
.gallery-design .grid-item .desc {
  position: absolute;
  overflow: hidden;
  color: white;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}
.gallery-design .grid-item .desc .desc-title {
  align-items: flex-end;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}
.gallery-design .grid-item .desc .desc-title:hover {
  cursor: zoom-in;
  background-color: rgba(0, 0, 0, 0.25);
}
.gallery-design .grid-item .desc .desc-title:hover span {
  transform: translateY(0);
}
.gallery-design .grid-item .desc .desc-title span {
  transform: translateY(120%);
  height: 30px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgb(10, 11, 59);
  font-size: 1em;
  line-height: 1.8em;
  transition: transform 0.3s;
}
.gallery-design .grid-item img {
  box-sizing: border-box;
  padding: 0.5em;
  display: block;
  width: 100%;
  cursor: zoom-in;
}

#gallery .contents-wrapper {
  margin-top: 1em;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  color: rgba(51, 51, 51, 0.5);
  border-radius: 0;
}

.alert-warning {
  background-color: white;
  border: 0;
  border-radius: 1;
}

/****************
 *Faculty Profile
 ***************/

.content-faculty {
  margin-top: 2rem;
}

.pic-meta {
  text-align: center;
  margin-bottom: 3rem;
}
.pic-meta .pic {
  width: 240px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
}

.pic-meta .meta {
  text-align: center;
  margin-top: 1rem;
}

/***************
*Footer Styles - Last Updated on 16/12/21
****************/

footer {
  background: #0a0b3b none repeat scroll 0 0;
  color: #0a0b3b(10, 3, 75);
  font-size: 12px;
  padding: 0.5% 0;
}

.footer-area {
  background-image: url(https://raw.githubusercontent.com/kasuncfdo/dls/main/img/footeroverlay.jpg);
  padding: 20px 0;
}

.footer-content ul {
  padding: 0 3px;
}

.footer-content h2 {
  font-size: 1.5em;
}

.footer-content h2,
.footer-content a {
  color: #ffffff !important;
  transition: 0.3s ease;
}

.footer-content a:hover {
  color: #6f6de6 !important;
  text-decoration: none;
}

.footer-content-logo img {
  margin: 20px auto;
  text-align: center;
}

.not-front #page-title {
  margin-bottom: 5%;
}

.footer-content p {
  font-family: "Poppins", sans-serif;
  color: #ffffff !important;
}

.footer-content ul {
  list-style: none; /* Remove default bullets */
}

.footer-content ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(255, 255, 255); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/***HR LINE**/
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: rgb(235, 235, 235);
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #ffffff;
  background-color: #0e0d3754;
}

/****************
 *Media Queries
 ***************/

@media (max-width: 599px) {
  .gallery-design .grid-sizer,
  .gallery-design .grid-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  footer .row > div {
    margin-bottom: 1.5em;
    text-align: center;
  }
  .widgets-wrapper .widgets-title {
    text-align: center;
  }

  #events {
    text-align: center;
  }
  #events .events-content {
    display: inline-block;
  }

  .widgets-container > div {
    margin-bottom: 4rem;
  }

  .header-links {
    display: none;
  }

  .list-group .list-group-item > .row > div:last-child {
    margin-top: 1rem;
  }
}

@media (min-width: 600px) {
  .gallery-design .grid-sizer,
  .gallery-design .grid-item {
    width: 33%;
  }
}

@media (max-width: 800px) {
  #gallery .contents-wrapper {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: flex !important;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  #gallery .contents-wrapper {
    width: 800px;
    max-width: 800px;
  }
}
// Edited

@media print {
  a[href]:after {
    display: none;
    visibility: hidden;
  }
}
// End
@media (min-width: 1000px) {
  #gallery .contents-wrapper {
    width: 1000px;
    max-width: 1000px;
  }

  .gallery-design .grid {
    margin-left: 0;
    margin-top: 40px;
  }
  .gallery-design .grid-sizer,
  .gallery-design .grid-item {
    width: 25%;
  }
}

// Events
body {
  margin-top: 20px;
}
.timeline {
  border-left: 3px solid #727cf5;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(114, 124, 245, 0.09);
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 40%;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #727cf5;
  box-shadow: 0 0 0 3px #727cf5;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

// Get In Touch
body {
  color: #6f8ba4;
  margin-top: 20px;
}
.section {
  padding: 100px 0;
  position: relative;
}

.gray-bg {
  background-color: #f5f5f5;
}
/* Contact Us
---------------------*/
.contact-name {
  margin-bottom: 30px;
}
.contact-name h5 {
  font-size: 22px;
  color: #20247b;
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-name p {
  font-size: 18px;
  margin: 0;
}

.social-share a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}
.social-share .dribbble {
  box-shadow: 0 8px 30px -4px rgb(59 151 231 / 50%);
  background-color: #3aa3e1;
}
.social-share .behance {
  box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
  background-color: #0067ff;
}
.social-share .linkedin {
  box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
  background-color: #0177ac;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #20247b;
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
}
.contact-form .form-control:focus {
  border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
  border-bottom: 1px solid #ff0000;
}
.contact-form .send {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contact-form .send {
    margin-bottom: 20px;
  }
}

.section-title h2 {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}
.section-title {
  padding-bottom: 45px;
}
.contact-form .send {
  margin-top: 20px;
}
.px-btn {
  padding: 0 50px 0 20px;
  line-height: 60px;
  position: relative;
  display: inline-block;
  color: #20247b;
  background: none;
  border: none;
}
.px-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(252, 83, 86, 0.6);
  border-right: 1px solid transparent;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  width: 60px;
  height: 60px;
}
.px-btn .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
}
.px-btn .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Events

/*-------------------------------------------------*/
/* =  5.HOME PAGE: EVENT
/*-------------------------------------------------*/
.ho-ex-title {
  margin-bottom: 35px;
}
.ho-ex-title h4 {
  padding-left: 15px;
  font-size: 26px;
}
.ho-ex-title h4:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 20px;
  margin-top: 3px;
  background: #03294f;
  top: 2px;
  left: 15px;
}
.ho-event {
}
.ho-event ul {
}
.ho-event ul li {
  padding: 15px 0px;
  position: relative;
  overflow: hidden;
}
.ho-ev-img {
  border-radius: 3px;
  display: inline-block;
  float: left;
  color: #fff;
  text-align: center;
  padding: 0px;
  margin-right: 20px;
  text-transform: uppercase;
  width: 20%;
}
.ho-ev-img img {
  width: 100%;
}
.ho-ev-date {
  border-radius: 3px;
  display: inline-block;
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 0;
  margin-right: 20px;
  text-transform: uppercase;
  width: 20%;
  background: #0a0b3b;
}
.ho-ev-date span:first-child {
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin-top: 0px;
  line-height: 25px;
  color: #fff;
}
.ho-ev-date span:last-child {
  font-size: 12px;
  color: #fff;
}
.ho-ev-link {
  float: left;
  width: 90%;
}
.ho-ev-link a {
}
.ho-ev-link a h4 {
  color: #112842;
  padding-bottom: 5px;
  margin-bottom: 3px;
  font-size: 19px;
  border-bottom: 0px;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
  letter-spacing: 0px;
}
.ho-ev-link p {
  color: #203245;
  font-size: 17px;
  margin-bottom: 0px;
  text-align: justify;
}
.ho-ev-link span {
  color: #959595;
  font-size: 12px;
  font-weight: 500;
}
.ho-ev-link-full {
  width: 100%;
}

//

body {
  margin-top: 10px;
}
.blog-listing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.gray-bg {
  background-color: #f5f5f5;
}
/* Blog 
---------------------*/
.blog-grid {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 3px;
  margin-bottom: 3px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #0a0b3b;
  color: #ffffff;
  padding: 8px 15px;
  left: 10px;
  top: 17px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #20247b;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

/* Blog Sidebar
-------------------*/
.blog-aside .widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.blog-aside .widget-body {
  padding: 15px;
}
.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fc5356;
  margin: 0;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #20247b;
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #20247b;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6f8ba4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #20247b;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6f8ba4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #20247b;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #fc5356;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #fc5356;
  border-bottom: 1px solid #fc5356;
}
.article .article-title h2 {
  color: #20247b;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #fc5356;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #20247b;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #fc5356;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #20247b;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #20247b;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

/*  Navbar Hover Effect
--------------------------------*/
.navbar-nav li {
  list-style: none;
}
.navbar-nav li a {
  position: relative;
  color: #333;
  text-decoration: none;
}
.navbar-nav li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #f31111;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.navbar-nav li a:hover:before {
  width: 100%;
}
.navbar-nav li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}

/******NEW BEGIN 2021-12-06*****
************************************/
/***PRELOADER***/

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
  content: "";
  border: 1em solid #010997;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/*** SITE NAVIGATION***/

nav {
  float: inline-start;
  line-height: auto;
}
nav a {
  text-decoration: wavy;
  font-family: Goudy Old Style;
  color: #fff;
}

/*** BACK TO TOP BUTTON WITH PROGRESS***/

@font-face {
  font-family: "unicons";
  src: url("../fonts/unicons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.progress-wrap {
  position: fixed;
  right: 40px;
  bottom: 40px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  color: #020a35;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  opacity: 0;
  background: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #17298b;
  stroke-width: 5;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/****Last Update-21-12-14*****/

/* Large rounded red border */
hr.redline {
  height: 2.8px;
  background-color: red;
  border: none;
  margin-top: 0rem;
}

/* Large rounded dark blue border */
hr.blueline {
  height: 5.8px;
  background-color: #010997;
  border: none;
  margin-top: -2rem;
}

/***Last Updated 21-12-19***/
@media screen (width: 1024px) {
  .navbar-nav {
    /* float: left; */
    /* margin-bottom: 11rem; */
    margin-left: -7rem;
    margin-right: -7rem;
  }
}
/**
@media screen and (min-width: 1900px) {
	.navbar-nav {
    /* float: left; */
/* margin-bottom: 11rem; */
/** margin-left: -7rem;
    margin-right: -7rem;
}
}****/

/***Last Update:21-12-27***/
.easy-breadcrumb {
  background: #fafafa none repeat scroll 0 0;
  border-radius: 9px;
  padding: 6px 43px;
  margin-left: -7rem;
  margin-right: -7rem;
  margin-top: -5rem;
}

/***HEADER,TOP-CREST***/

hgroup h1 span .site-title {
  font-family: "trajan pro";
  text-decoration: none;
  text-shadow: 0px 0px 1px #aaaaaa;
  color: white;
  font-size: 40px;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
:root {
  --r-dark-blue: 10;
  --g-dark-blue: 11;
  --b-dark-blue: 59;
}

li {
  list-style: none;
}

.menu-wrapper {
  width: 1.5ch;
  height: 18.5px;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 1.5ch;
  height: 3.5px;
}

.hamburger-menu {
  position: relative;
  transform: translateY(7.5px);
  background: #fff;
  transition: all 0ms 300ms;
}

.hamburger-menu.dark {
  background: #223454;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7.5px;
  background: #fff;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.dark:before {
  background: #223454;
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7.5px;
  background: #fff;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.dark:after {
  background: #223454;
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/**SEARCH CSS-22-01-03***/

.search-super {
  position: relative;
  height: 35px;
  width: 35px;
}

.search {
  display: table-row;
}
.search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  font-family: "Mukta Malar";
  transition: all 0.6s ease;
  cursor: pointer;
  color: #fff;
}
.search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}
.search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-ms-input-placeholder) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:placeholder-shown),
.search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg,
.search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  //stroke-dashoffset: 300;
}

::-moz-selection {
  background: #20247b !important;
  color: rgb(255, 255, 255) !important;
}

::selection {
  background: #20247b !important;
  color: rgb(255, 255, 255) !important;
}

::-moz-selection {
  background: #20247b !important;
  color: rgb(255, 255, 255) !important;
}

.search-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  transition: all 0.5s cubic-bezier(0.53, 0.96, 0.44, 0.9);
  cursor: pointer;
}

.search-wrapper::before {
  content: "";
  position: absolute;
  top: 28%;
  right: 18.5%;
  width: 0;
  height: 3.5px;
  margin-top: -2px;
  background-color: #fff;
  transform: rotate(-45deg);
  transform-origin: right top;
}

.search-wrapper.dark::before {
  background-color: #223454;
}

.search-wrapper::after {
  content: "";
  position: absolute;
  bottom: 15.5%;
  right: 14.5%;
  width: 40%;
  height: 3.5px;
  margin-top: -2px;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.search-wrapper.dark::after {
  background-color: #223454;
}

.search-icon {
  position: absolute;
  display: block;
  top: 20%;
  left: 20%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border-width: 3.5px;
  border-style: solid;
  border-color: #fff;
}

.search-icon.dark {
  border-color: #223454;
}

nav:not(.rank-math-breadcrumb) .hero-unit {
  width: 100%;
  z-index: 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

nav:not(.rank-math-breadcrumb) ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  transition: padding 0.5s cubic-bezier(0.53, 0.96, 0.44, 0.9);
}

.nav-icons {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.nav-icons.dark {
  color: #081428;
}

.top-crest {
  width: auto;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.53, 0.96, 0.44, 0.9);
}

@media (max-width: 599px) {
  .top-crest {
    height: auto;
    width: auto;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .top-crest {
    height: 100px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .top-crest {
    height: 160px;
    width: auto;
    padding-right: 11rem;
    position: sticky;
    align-items: center;
  }
}

.top-crest.hidden {
  visibility: hidden;
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
    font-family: "Goudy Old Style";
  }
}

/***PULSE-HEART-CUSTOM-CSS***/
.heart {
  fill: #ffffff;
  height: 13px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  position: relative;
  top: 2px;
  width: 16px;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.ps-mark {
  display: none;
  box-sizing: border-box !important;
  /* z-index: 9999!important; */
  position: absolute !important;
  left: 5px !important;
  bottom: 5px !important;
  /* display: flex!important; */
  flex-wrap: nowrap !important;
}

.ps-mark a span {
  display: none;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}

@media (min-width: 480px) and (max-width: 720px) {
  .dir-detail {
    text-align: center;
    /* display: inline-block; */
    line-height: 1.6;
  }

  .dir-msg {
    display: inline-grid;
    /margin-top: 2rem;
  }

  .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 1;
    z-index: 0;
    10: ;
    pa: ;
    padding-top: 0;
    dding-bottom: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2pxrgba (0, 0, 0, 0.6);
  }

  .timg {
    height: 60px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .card {
    padding: 36px;
    max-width: 1288px;
    border-radius: 20px;
    margin: 60px auto;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  }
	
	.timg {
	    display: none;
	}
	
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}


